// Sass Variables
$mainFont: 'Roboto', sans-serif;
$titleFont: 'Exo', sans-serif;

$purple: #621772;
$purpleshadow: #370142;
$green: #88D317;


/********************
BREAKPOINTS
********************/
$max-phone-width: 600px;
$max-tablet-width: 1199px;
$max-desktop-width: 1800px;

@mixin phone {
  @media (max-width: $max-phone-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$max-phone-width + 1px}) and (max-width: #{$max-tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$max-tablet-width + 1px}) and (max-width: #{$max-desktop-width}) {
    @content;
  }
}

@mixin big-desktop {
  @media (min-width: #{$max-desktop-width + 1px}) {
    @content;
  }
}
