// Skills Styles
.skills {
  .card {
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
    .card-title {
      font-family: $mainFont;
      letter-spacing: 1.2px;
      margin: 5px;
    }
    .card-icon-row {
      display: flex;
      flex-direction: row;
      .card-icon {
        margin: 5px 10px;
        text-align: center;
        img {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}


@include phone {
    .skills {
        .card {
            max-width: 100%;
            .card-icon-row .card-icon img {
                height: 4em;
                width: 4em;
            }
        }
    }
}
