@import 'bits';
@import 'sidebar';
@import 'skills';
@import 'contact';


// General Styles
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/background.png");
  font-family: $mainFont;
  a {
    text-decoration: none;
    color: #fff;
  }
  ul {
    list-style: none;
  }
  .section-header {
    position: relative;
    min-height: 75px;
    background-color: $purple;
    width: 100%;
    .title {
      font-family: $titleFont;
      color: #F5F5F5;
      font-size: 3em;
      letter-spacing: 1.2px;
      padding: 5px 25px;
    }
  }
  .container-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: inherit;
    padding-left: 225px;
  }
  .container {
    margin: 20px auto;
    width: 1200px;
  }
  .row {
    display: flex;
    width: 100%;
    .container50 {
      flex-basis: 50%;
    }
  }
}




// Hero Styles
.hero {
  background-image: url("../images/hero2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  filter: grayscale(75%);
  .hero-tagline {
    position: absolute;
    font-size: 2em;
    top: 25%;
    left: 0;
    margin-left: 225px;
    padding-left: 50px;
    z-index: 50;
    color: #fff;
    &:hover {
      cursor: default;
    }
    .pulse {
    	animation: pulse 2s infinite;
    	font-weight: bold;
    }
  }
  .bubble-box {
    position: relative;
    width: 100%;
    height: 100%;
    // padding 50% of bubbles to keep them on hero
    padding: 100px;
    .pic-bubble {
      position: absolute;
      margin: 50px;
      height: 200px;
      width: 200px;
      border-radius: 50%;
      border: 3px solid $purple;
      background-color: $purpleshadow;
      box-sizing: border-box;
      overflow: hidden;
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    	transform: translatey(0px);
    	animation-name: float;
      // animation-duration: 6s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      #bubble2 {

      }
      #bubble3 {
        transform: rotate(90deg);

      }
      #bubble4 {

      }
    }
  }
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
	50% {
		opacity: 0;
	}
}


// About Styles
.about {
  .card {
    margin: 20px auto;
    width: 90%;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
    .about-content {
      padding: 25px;
      line-height: 1.2;
      letter-spacing: 1.1px;
      text-align: center;
    }
  }
}


// Portfolio Styles
.portfolio {
  .project-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    &:hover {
      cursor: pointer;
      .hover-title {
        visibility: visible;
        opacity: 1;
      }
    }
    img {
      width: 480px;
      height: 320px;
      box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
    }
    .hover-title {
      position: absolute;
      height: 25%;
      width: 480px;
      bottom: 0;
      background: $purpleshadow;
      color: #fff;
      visibility: hidden;
      opacity: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: opacity .2s, visibility .2s;
    }
  }
}


.modal {
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 20%;
  left: 0;
  top: 0;
  width: 100%;

  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  .modal-content {
    background-color: #F4F4F4;
    margin: auto;
    padding: 25px;
    border: 1px solid $purpleshadow;
    width: 80%;
    max-width: 1200px;
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 24px;
      font-weight: bold;
      &:hover, :focus {
        color: $purpleshadow;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
